
.Home {
    position: absolute;
    cursor: default;
    margin-top: 7vh;
    width: 100%;

}

.Title {
    font-family: "NanumGarMae";
    margin-top: -7vh;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #50586C;
    color: white;
    font-size: 4vh;
    letter-spacing: 2vh;
    transition-property: font-size;
    transition-duration: 0.3s;
    font-family: 'NanumGarMae';
}

.Title > #MainTitle {
    margin-block: 0vh;
    top: 0%;
    animation: fadein 6s;
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    16% {
        opacity: 0;
    }
    100% {
        opacity: 1; 
    }
}

.Title > #SubTitle {
    margin-block: 0vh;
}


.Doc {
    margin-top: 0vh;
    margin-bottom: 0vh;
    padding: 3vh;
    padding-left: 10vw;
    padding-right: 10vw;
}
.Doc > #text {
    background-color: red;
    padding: 3vh;
}
.Doc > #block {
    padding: 3vh;
    background-color: green;
}

.info {
    padding: 3vh;
    background-color: #222222;
}
.info > p {
    margin: 1vh;
    position: absolute;
    right: 0;
    bottom: 0;
    color: white;
}