@font-face {
    font-family: 'NanumGarMae';
    src: url('./font/NanumGarMae.ttf') format('truetype');
}


.MenuBar {
    margin-top: -10vh;
    height: 10%;
    width: 100%;
    position: fixed;
    display: flex;
    z-index: 1;
    background-color: violet;
    justify-content: space-around;
    font-size: 1.5vw;
}

.Btn{
    cursor: pointer;
    color: white;  
    background-color: black;
    transition: background-color, 0.5s;
    outline-color: darkgray;
    outline-width: 1%;
    outline-style: solid;
    pointer-events: 100vw;
    width: 25%; /* 100% / MenuBar.tsx.cnt */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}
.Btn:hover{
    background-color: #555555;
    outline-color: yellowgreen;
    z-index: 2;
}