@font-face {
    font-family: 'NanumGarMae';
    src: url('./font/NanumGarMae.ttf') format('truetype');
}


.MenuBar {
    margin-top: -7vh;
    height: 7vh;
    width: 100%;
    background-color: black;
    position: fixed;
    display: flex;
    z-index: 1;
    justify-content: flex-end;
    font-size: 1.5vw;
}

.Btn{
    cursor: pointer;
    color: white;  
    margin-left: 0.2%;
    transition-property: background-color, block-size;
    transition-duration: 0.5s, 0.3s;
    outline-color: darkgray;
    outline-width: 1%;
    outline-style: solid;
    pointer-events: 100vw;
    width: 23%; /* 100% / MenuBar.tsx.cnt */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Btn:hover{
    background-color: #555555;
    outline-color: yellowgreen;
    z-index: 2;
    block-size: 130%;
}
#Home {
    width: 8%;
}
img {
    height: 100%;
}