@font-face {
    font-family: 'NanumGarMae';
    src: url('./font/NanumGarMae.ttf') format('truetype');
}


.Title {
    margin-top: 10vh;
    cursor: default;
    height: 30vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #50586C;
    color: white;
    font-size: 2vw;
    letter-spacing: 0.8vw;
    font-family: 'NanumGarMae';

}

.MainTitle {
    position: absolute;
    align-self: center;
}

.SubTitle {
    position: absolute;
    bottom: 10%;
}